@font-face {
	font-family: 'Star';
	src: url(' ./../fonts/star.eot?b16gwi');
	src: url('./../fonts/star.eot?b16gwi#iefix') format('embedded-opentype'), url('./../fonts/star.ttf?b16gwi') format('truetype'),
		url('./../fonts/star.woff?b16gwi') format('woff'), url('./../fonts/star.svg?b16gwi#font-star') format('svg');
	font-weight: normal;
	font-style: normal;
}

%rating-container-base {
	display: block;
	min-height: 48px;

	* {
		margin: 0;
		padding: 0;
	}
}

.rating-stars-container {
	@extend %rating-container-base;

	.rating-star {
		cursor: pointer;
		display: inline-block;
		width: 48px;
		height: 48px;
		padding: 0 3px;

		&:before {
			content: '\e900';
			font-family: Star;
			font-size: 40px;

			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: 'Star' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1.2;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&.full:before {
			content: '\e901';
		}
		&.hover:before {
			content: '\e901';
			opacity: 0.68;
		}
	}
}

.rating-span-container {
	@extend %rating-container-base;

	text-align: left;
	font-size: 10px;

	.rating-span {
		display: none;
		font-weight: bold;
		
		&.show-span {
			display: inline-block;
			margin: 10px 0 0 6px;
			padding: 6px 10px;
			text-align: left;
			line-height: 1em;
			font-size: 17px;
			border-radius: 5px;
		}
	}
}
