* {
    margin: 0;
    padding: 0;
}

#rating-container {
    display: block;
    margin: 2rem auto;
    width: 270px;
    height: 48px;
    text-align: center;
}

.stars-background {
    background: url("../images/starSmall.svg") no-repeat;
    background-size: 96px;
}

.rating-stars-container,
.rating-label-container {
    display: block;
    height: 48px;
}

.rating-stars-container > .rating-star {
    @extend .stars-background;
    display: inline-block;
    margin: 0 3px;
    width: 48px;
    height: 48px;
}

.rating-stars-container > .rating-star.full {
    @extend .stars-background;
    background-position: -48px 0;
    width: 48px;
    height: 48px;
}

.rating-stars-container.hover > .rating-star.full {
    @extend .stars-background;
    background-position: -48px 0;
    width: 48px;
    height: 48px;
}

.rating-stars-container.hover > .rating-star.hover {
    @extend .stars-background;
    background-position: -48px 0;
    width: 48px;
    height: 48px;
    opacity: .68;
}

.rating-star {
    cursor: pointer;
}

.rating-label-container {
    text-align: left;
}

.rating-label {
    display: none;
    font-weight: bold;
}

.rating-label-container.show .rating-label {
    display: inline-block;
    margin: 10px 0 0 6px;
    padding: 6px 10px;
    background: #0c7f88;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    line-height: 1em;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}